[submodule "fleet-service"]
	path = fleet-service
	url = https://github.com/tariq-ventura/fleet-service.git
	branch = main
[submodule "logistic-service"]
	path = logistic-service
	url = https://github.com/tariq-ventura/logistic-service.git
	branch = main
